* {
    margin:  0;
    padding: 0;
}

canvas {
    display: block;
    margin: auto;
    border: 5px solid white;
}

body {
    background-image: url(../assets/background.jpg);
    align-items: center;
    text-align: center;
}

.instructions {
    display: block;
    justify-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

@font-face {
    font-family: "Retro";
    src: url(../font/OdetoIdleGaming-4001.woff);
}

p {
    font-family: "Retro";
    color: white;
    font-size: 12px;
    display: inline;
}

#scoreboard {
    margin-top: 0.2%;
    color: white;
    font-family: "Retro";
    font-size: 20px;
    font-weight: bold;
}

#score{
    margin-top: 0.2%;
    display: inline-block;
    font-size: 20px;
    font-family: "Retro";
    font-weight: bold;
}
