* {
    margin:  0;
    padding: 0;
}

canvas {
    display: block;
    margin: auto;
    border: 5px solid white;
    background-color: paleturquoise;
}

body {
    background-image: url(./assets/background.jpg);
    align-items: center;
    text-align: center;
}

.instructions {
    display: block;
    justify-items: center;
    text-align: center;
    margin-bottom: 10px;
}

@font-face {
    font-family: "pixeboy";
    src: url(./font/Pixeboy.woff);
}

p {
    font-family: "Arial";
    color: white;
    font-size: 20px;
    display: inline;
}

#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: "pixeboy";
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
    color: white;
    border: 2px solid white;
}

#P {
 color: lime;   
}

#L{
    color: orange;
}

#A{
    color: blue;
}

#Y{
    color: red;
}

#scoreboard {
    color: black;
    font-family: "Arial";
    font-size: 20px;
    font-weight: bold;
}

#score{
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
